.projects h1 {
  text-align: center;
  font-size: 2rem;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  color: #fff;
  /* text-decoration: underline; */
  text-transform: uppercase;
  letter-spacing: 1px;
}

.projects {
  margin: 8% auto;
  padding-top: 60px;
  background: linear-gradient(to bottom, #25a796, #ffffff);
}

/* .projects h1::before {
  content: "";
  display: inline-block;
  width: 100px;
  height: 100px;
  background-image: url("/assets/tools2.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 10px;
  vertical-align: middle;
} */

.grid {
  display: grid;
  padding-top: 180px;
  width: 100%;
  height: 10px auto;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 300px);
  margin: 50px 0 150px 0;
  /* width: 100%; */
  /* background-image: url("../../public/assets/splash.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover; */
  padding: 0 12.5vw;
}
.gridItem {
  grid-gap: 30px;
  width: 180px;
  height: 280px;
  /* border: 1px solid black; */
  border-radius: 50px;
  margin-top: 30px;
  overflow: hidden;
  padding: 15px;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  cursor: pointer;
  margin: 10px auto;
}
.imgBx {
  min-height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gridItem img {
  object-fit: cover;
  height: 80%;
  border-radius: 20px;
}
.gridItem h2 {
  text-align: center;
  color: #323d55;
}
.radius {
  border-radius: 10px;
  /* width: 100%;
  height: 100%;
  position: relative !important;
  object-fit: cover; */
  object-fit: contain;
  /* width: 100% !important; */
  position: relative !important;
  max-height: 80%;
}

.gridItem:hover {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
