.projects h1 {
  /* text-align: center; */
  font-size: 2rem;
  /* background-color: #b6b1f2; */
  border-radius: 10px;
  text-align: center;
  margin: auto;
  color: white;
  /* text-decoration: underline; */
  text-transform: uppercase;
  letter-spacing: 1px;
}
/* .projects h1::before {
  content: "";
  display: inline-block;
  width: 100px;
  height: 100px;
  background-image: url("/assets/brush.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 10px;
  vertical-align: middle;
} */

.projects {
  padding-top: 60px;
  background: linear-gradient(to bottom, #7916ff, #ffffff);
}
/* .title {
  display: flex;
} */
.grid {
  display: grid;
  width: 100%;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 400px);
  margin: 50px 0 150px 0;
  padding: 0 12.5vw;
}
.gridItem {
  grid-gap: 80px;
  width: 380px;
  max-height: 100%;
  /* border: 1px solid black; */
  border-radius: 50px;
  margin: 30px;
  overflow: hidden;
  /* padding: 15px; */
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */

  margin: 10px auto;
  max-height: 82%;
}
.imgBx {
  min-height: 180px;
  max-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gridItem img {
  object-fit: cover;
  height: 80%;
  border-radius: 20px;
}
.gridItem h2 {
  text-align: center;
  color: #323d55;
}
.radius {
  border-radius: 10px;
  object-fit: contain;
  position: relative !important;
  max-height: 80%;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
