.modalBg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.253);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  display: flex;
}

.modal {
  height: auto;
  max-height: 80%;
  max-width: 90%;
  background-color: white;
  border-radius: 8px;
  box-sizing: 1px 1px 20px rgba(0, 0, 0, 0.26);
  /* justify-content: center; */
  align-items: space-between;
  padding: 1rem;
  margin: auto;
  overflow-y: auto;
  display: flex;
  position: relative;
  /* z-index: 600; */
}

.modal .close {
  position: absolute;
  right: 10px;
  top: 10px;
  /* z-index: 10000;
  overflow: hidden; */
  justify-content: flex-end;
  width: fit-content;
  border-style: none;
  background-color: transparent;
  border: none;
  padding: 0.5rem;
  border-radius: 8px;
  font-size: 1.2rem;
  cursor: pointer;
  margin: 0.5rem;
}

.modalContent {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.textContent {
  /* margin: auto; */
  text-align: left;
}
.textContent h2 {
  text-align: center;
  letter-spacing: 1px;
}
.textContent p {
  flex: 1;
}

.modalBtn {
  right: 0;
  justify-content: flex-end;
  width: fit-content;
  border-style: none;
  background-color: transparent;
  border: none;
  padding: 0.8rem;
  border-radius: 8px;
  font-size: 1.2rem;
  cursor: pointer;
  margin: 0.5rem;
  background-color: #d3e1f1;
}

.btnContent {
  margin: auto;
}

.center {
  background: #fff;
  color: #000;
  max-width: 100px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  cursor: pointer;
  display: block;
  margin: 15px auto;
  padding: 5px 15px;
}
.box button:hover {
  background: #da727b;
  color: #fff;
}
.textContent {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  background-color: #ffffff;
  min-height: 100%;
  min-width: 30%;
}

/* responsive */

@media screen and (max-width: 1200px) {
  .modal {
    flex-direction: column;
  }
}
