.projects h1 {
  text-align: center;
  font-size: 2rem;
  border-bottom: #a3c1e7 5px solid;
  width: fit-content;
  margin: auto;
}

.grid {
  display: grid;
  /* max-width: 1300px; */
  width: 100%;
  height: 10px auto;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 400px);
  margin: 50px 0 150px 0;
  /* width: 100%; */
}
.gridItem {
  grid-gap: 30px;
  width: 350px;
  height: 250px;
  /* border: 1px solid black; */
  border-radius: 50px;
  margin-top: 30px;
  overflow: hidden;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  margin: 10px auto;
}
/* .gridItem img {
  object-fit: cover;
  height: 80%;
} */
.gridItem h2 {
  text-align: center;
  color: #323d55;
}
.radius {
  border-radius: 10px;
  /* width: 100%;
  height: 100%;
  position: relative !important;
  object-fit: cover; */
  object-fit: contain;
  /* width: 100% !important; */
  position: relative !important;
  max-height: 80%;
}

.gridItem:hover {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* .projectModal {
  width: 60%;
  height: 70%;
  background-color: white;
  position: fixed;
  top: 15%;
  left: 20%;
  z-index: 900;
} */

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
